faster-whisper==0.10.0
ollama
transformers
ctranslate2
pyaudio
numpy
RealtimeTTS
thefuzz[speedup]
python-Levenshtein
psutil
screen-brightness-control
pyautogui
pyperclip
wikipedia
googlesearch-python
urllib3
keyboard
pyttsx3
requests